@font-face {
  font-family: 'montserrat';
  src: url('https://static.vhx.tv/theme/fonts/montserrat-regular.eot');
  src:
    url('https://static.vhx.tv/theme/fonts/montserrat-regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../../../static.vhx.tv/theme/fonts/montserrat-regular.woff2')
      format('woff2'),
    url('https://static.vhx.tv/theme/fonts/montserrat-regular.woff')
      format('woff'),
    url('https://static.vhx.tv/theme/fonts/montserrat-regular.ttf')
      format('truetype'),
    url('https://static.vhx.tv/theme/fonts/montserrat-regular.svg#Montserrat-Regular')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat-bold';
  src: url('https://static.vhx.tv/theme/fonts/montserrat-bold.eot');
  src:
    url('https://static.vhx.tv/theme/fonts/montserrat-bold.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.vhx.tv/theme/fonts/montserrat-bold.woff2')
      format('woff2'),
    url('https://static.vhx.tv/theme/fonts/montserrat-bold.woff') format('woff'),
    url('https://static.vhx.tv/theme/fonts/montserrat-bold.ttf')
      format('truetype'),
    url('https://static.vhx.tv/theme/fonts/montserrat-bold.svg#Montserrat-Bold')
      format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
